/* CSS by Cori Komiyama */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
#skip-link {
  position:absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ///ADD/// Navigation Styles */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav ul {
  grid-column: 1 / 3;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--news-flash);
  
}

nav ul li a {
  text-decoration: none;
  color: var(--watchdog-white);
}

/* ///ADD/// Global Layout Styles */
header, footer {
  background-color: var(--blue-bulletin);
  width: 100%;
  color: var(--watchdog-white);
}

header {
  padding: 2rem 3rem 0.5rem 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

footer {
  height: auto;
  padding: 1rem 3rem 0.5rem 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#footer-nav li {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--news-flash);
}

main {
  padding: 3rem;
  background-color: var(--watchdog-white);
}

#subscribe {
  padding: 3rem;
  padding-top: 0;
  background-color: var(--watchdog-white);
}

form {
  background-color: var(--news-flash);
}

/* ///ADD/// Global Text Styles */
h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  color: var(--watchdog-white);
}

h2, h3 {
  font-family: var(--font-heading);
  color: var(--truth-text);
}

h2 {
  font-size: 1.75rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.25rem;
}

.tagline {
  padding-top: 0.5rem;
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  line-height: 1.5rem;
  color: var(--truth-text);
}

footer h2 {
  color: var(--watchdog-white);
}

nav ul li, #footer-nav li {
  font-family: var(--font-body);
  text-transform: uppercase;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

small {
  font-family: var(--font-body);
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem 0;
}
/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}